<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Industrial Supervisor Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div th:replace="fragments/common_sidebar :: sidebar"></div>

    <div class="main-content">
        <div class="header">
            <div class="header-container">
                <img th:src="@{/images/utmlogo.png}" alt="UTM Logo"/>
                <h1>UTM CAS</h1>
            </div>
        </div>
        <div class="head">
            <h1 class="display-4" style="text-align: center ">Welcome, Industrial Supervisor!</h1>
            <p class="lead" style="text-align: center">You have successfully logged in.</p>
        </div>
    </div>
</body>
</html>