<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Removed head section as it's invalid in a fragment -->
<body>
    <div class="sidebar" th:fragment="sidebar">
        <div class="logo">
            <h2>UTM AAS</h2>
        </div>
        
        <div class="user-profile">
            <span sec:authentication="name"></span>
        </div>
        
        <ul class="menu-list">
            <li>
                <a th:href="@{/lecturer/home}">
                    Dashboard
                </a>
            </li>
            
            <li>
                <a th:href="@{/lecturer/assessments}">
                    Assess Students
                </a>
            </li>
            
            <li class="nav-item">
            <a class="nav-link" th:href="@{/lecturer/comments/view/assessments}">
                <i class="fas fa-comments"></i>
                <span>Student Comments View</span>
            </a>
        </li>

            <li sec:authorize="hasRole('ROLE_ADMIN')">
                <a th:href="@{/admin/home}" class="switch-role-btn">
                    Switch to Admin
                </a>
            </li>
            
            <li class="logout-item">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="logout-btn">
                        Logout
                    </button>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                </form>
            </li>
        </ul>
    </div>
</body>
</html>